{% extends 'base.html.twig' %}

{% block title %}{{ 'about.title'|trans }}{% endblock %}

{% block body %}
    <div class="flex-fill bg-light py-5">
        <div class="container">
            <i class="fas fa-book-open fa-4x d-block text-center mb-4 dark"></i>
            <h2 class="title-page">{{ 'about.text.title'|trans }}</h2>
            <div class="border dark p-5">
                {{ 'about.text.content'|trans }}
                <br>
                {{ 'about.text.we'|trans }} :
                <ul>
                    <li>
                        Bobacar Boutayeb
                    </li>
                    <li>
                        Enfel M'Hamedi
                    </li>
                    <li>
                        Adnen Said
                    </li>
                    <li>
                        Nicolas Roussel
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
