{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <div class="flex-fill bg-light py-5">
        <div class="container">
            <i class="fas fa-book-open fa-4x d-block text-center mb-4 dark"></i>
            <h2 class="title-page">Bienvenue</h2>
            <div class="border dark p-5">
                <p>Porté par une équipe de développeurs lyonnais, Lexicon est un outil issu des projets de la Wild Code School.
                    Créé de bout en bout en moins de trois semaines, cet outil propose à l'utilisateur de fabriquer et modifier ses propres dictionnaires, pour aider à son acquisition ou archivage de notions.</p>
                <p>Outil souple, Lexicon s'avèrera idéal pour l'apprentissage de langage technique, dans l'approche de langues étrangères, ou même comme wiki personnel pour de la prise de notes autour d'un travail créatif.</p>
                <br>
                <p>Nous sommes:</p>
                <ul>
                    <li>
                        Bobacar Boutayeb
                    </li>
                    <li>
                        Enfel M'Hamedi
                    </li>
                    <li>
                        Adnen Said
                    </li>
                    <li>
                        Nicolas Roussel
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
