{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <div class="flex-fill bg-light py-5">
        <div class="container">
            <i class="fas fa-book-open fa-4x d-block text-center mb-4 dark"></i>
            <h2 class="title-page">Welcome [à remplir]</h2>
            <div class="border dark p-5">
             </div>
        </div>
    </div>
{% endblock %}
