{% extends 'base.html.twig' %}
{# home/index.html.twig #}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {# Ajouter votre style si nécessaire #}
{% endblock %}

{% block body %}
    {# #Contenu #}
    <h1>Welcome to your next step for improving your knowledge!</h1>
{% endblock %}
