<form method="post" action="{{ path('word_delete', {'id': word.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce mot?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ word.id) }}">
    <button class="btn">Supprimer</button>
</form>
