<form method="post" action="{{ path('word_delete', {'id': word.id}) }}" onsubmit="return confirm('Are you sure you want to delete this word?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ word.id) }}">
    <button class="btn">Delete</button>
</form>
