<form method="post" action="{{ path('word_delete', {'id': word.id}) }}" onsubmit="return confirm('{{ 'word.delete.confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ word.id) }}">
    <button class="btn">{{ 'word.delete.button'|trans }}</button>
</form>
