<form method="post" action="{{ path('word_delete', {'id': word.id}) }}" onsubmit="return confirm('{{ 'word.delete.confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ word.id) }}">
    <button class="btn"><i class="fas fa-trash-alt fa-2x danger"></i>{{ 'word.delete.button'|trans }}</button>
</form>
