{% extends 'base.html.twig' %}

{% block title %}Edit Word{% endblock %}

{% block body %}
    <div class="flex-fill bg-light py-5">
        <div class="container">
            <i class="fas fa-book-open fa-4x d-block text-center mb-4 dark"></i>
            <h2 class="title-page">Modifier le mot</h2>
            <div class="form-app border dark p-5">
                {{ include('word/_form.html.twig', {'button_label': 'Update'}) }}
                {{ include('word/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
    {# <a href="{{ path('lexicon_show_content', {'id': word.lexicon.id}) }}">Retour à la liste</a> #}
{% endblock %}
