{% extends 'base.html.twig' %}

{% block title %}New Word{% endblock %}

{% block body %}
    <div class="flex-fill bg-light py-5">
        <div class="container">
            <h2 class="title-page">Ajouter un nouveau mot</h2>
            <div class="form-app border dark p-5">
                {{ include('word/_form.html.twig') }}
            <p>Vous pouvez utiliser du <a href = "https://www.markdownguide.org/cheat-sheet/">Markdown</a> dans votre définition.
            Par exemple, écrire *entre étoiles* gardera du texte <i>en italique</i>.</p>
                <a href="{{ path('word_index') }}">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
