<form method="post" action="{{ path('lexicon_delete', {'title': lexicon.title}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce Lexique?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lexicon.title) }}">
    <button class="btn"><i class="fas fa-trash-alt fa-2x danger"></i></button>
</form>
