<form method="post" action="{{ path('lexicon_delete', {'title': lexicon.title}) }}" onsubmit="return confirm('Are you sure you want to delete this Lexicon?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lexicon.title) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
