{% extends 'base.html.twig' %}
{# lexicon/index.html.twig #}

{% block title %}Lexicon{% endblock %}

{% block stylesheets %}
    {# Ajouter votre style si nécessaire #}
{% endblock %}

{% block body %}
    {# #Contenu #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>Tous les lexiques</h1>
    {% endif %}
    <ul>
    {% for lexicon in app.user.lexicons %}

        <li><a href="{{ path('word_showlexicon', {'id': lexicon.id}) }}">{{ lexicon.title }}</a>
            <a href="{{ path('lexicon_edit', {'title': lexicon.title}) }}">edit</a></li>
    {% endfor %}
    </ul>
    <a href="{{ path('lexicon_new') }}">Créer un nouveau lexique</a>
{% endblock %}
