{% extends 'base.html.twig' %}
{# lexicon/index.html.twig #}

{% block title %}Lexicon{% endblock %}

{% block stylesheets %}
    {# Ajouter votre style si nécessaire #}
{% endblock %}

{% block body %}
    {# #Contenu #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>List de lexicons de {{ app.user.email }} !</h1>
    {% endif %}

    <ul>
    {% for lexicon in app.user.lexicons %}
    <li>  {{ lexicon.title }} </li>
    {% endfor %}
    </ul>

    <a href="{{ path('lexicon_new') }}">Add a new lexicon</a>
{% endblock %}
