{% extends 'base.html.twig' %}
{# lexicon/index.html.twig #}

{% block title %}Lexicon{% endblock %}

{% block stylesheets %}
    {# Ajouter votre style si nécessaire #}
{% endblock %}

{% block body %}
    {# #Contenu #}

    <h1>Welcome to your first Lexicon !</h1>
    <ul>

    {% for lexicon in lexiconList %}
    <li>  {{ lexicon.title }} </li>
    {% endfor %}
    </ul>


{% endblock %}
