{% extends 'base.html.twig' %}

{% block title %}{{ 'lexicon.new.title'|trans }}{% endblock %}

{% block body %}
    <div class="flex-fill bg-light py-5">
        <div class="container">
        <a href="{{ path('lexicon_index') }}"><i class="fas fa-arrow-left fa-2x dark"></i></a>
            <h2 class="title-page">{{ 'lexicon.new.pagetitle'|trans }}</h2>
            <div class="form-app border dark p-5">
                {{ include('lexicon/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
