@media (min-width: 576px) {
  .list-lexiques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .list-lexiques {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 992px) {
  .navbar {
    font-size: 0.875em;
  }
  .navbar .navbar-nav-right {
    display: flex;
    flex-direction: row;
  }
  .navbar .nav-item {
    border-top: none;
    padding: 0;
  }
  .navbar .dropdown {
    display: block;
    margin-left: auto;
  }
  .navbar .profil {
    display: none;
  }
  .navbar .logout {
    display: none;
  }
  .login {
    margin-left: auto;
  }
  .register {
    margin-left: auto;
  }
  .navbar-nav {
    margin-top: 0;
  }
  .form-app {
    width: 40%;
  }
  .navbar .search {
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
    width: 30rem;
    margin-right: 1rem;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
