@import "variables.css";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* variables */
:root {
  --lexics-color: $light;
  --light: #fef5f6;
  --navbar-color: #052c65;
  --text: #212529;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--light);
  font-size: 1.6rem;
}

.navbar {
  background: var(--navbar-color);
}
.navbar .logo {
  color: var(--light);
  font-size: 2em;
  transition: all ease 0.2s;
}
.navbar .logo:hover {
  color: var(--light);
  transform: scale(1.1);
}
.navbar .nav-item {
  display: flex;
  align-items: center;
}
.navbar .nav-link {
  color: var(--light) !important;
}
.navbar .img-profil {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem solid var(--light);
  border-radius: 100%;
  background: var(--light);
}
