<footer class='footer bg-white'>
    <div class="container">
        <a class="navbar-brand logo" href="{{ path('lexicon_index') }}"><i class="fas fa-book-open fa-4x d-block text-center mb-4 dark"></i></a>

        <ul class="list-socials">
            <li class="list-socials-item"><i class="fab fa-2x fa-facebook-f"></i></li>
            <li class="list-socials-item"><i class="fab fa-2x fa-twitter"></i></li>
            <li class="list-socials-item"><i class="fab fa-2x fa-google"></i></li>
            <li class="list-socials-item"><i class="fab fa-2x fa-instagram"></i></li>
        </ul>

        <hr class="underline">

        <ul class="menu-footer">
            <li class="menu-footer-item"><a href="{{ path('about_index') }}">Qui sommes-Nous ?</a>
            <li class="menu-footer-item"><a href="{{ path('contact_index') }}">Contactez-nous</a></li>
        </ul>
        <p class="text-center">©copyright LEXIQUE</p>

    </div>
</footer>
