<div class="flex-fill bg-light py-5">
    <div class="container">
        <h2 class="title-page">Bienvenue sur Lexicon, votre outil de lexiques personnels.</h2>
        <p>Ici, dans votre espace personnel, vous pourrez créer différents lexiques autour des thèmes de votre choix, et les enrichir avec vos définitions.</p>
        <p><img src="{{ asset('images/screenshot.png') }}"></p>
        <p>Lexicon, c’est <b>votre</b> carnet à définitions illustré à votre guise et modifiable à l’infini!</p>
        <p><u><a href="{{ path('register') }}">Inscrivez-vous</a></u> et profitez de ce service gratuit dès maintenant.</p>
    </div>
</div>