{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
{{ parent() }}
    {# Ajouter votre style si nécessaire #}
{% endblock %}

{% block body %}
    {# #Contenu #}
    <h1>Your list of users</h1>
{% endblock %}