{% extends 'base.html.twig' %}
{# user/index.html.twig #}

{% block title %}User{% endblock %}

{% block stylesheets %}
    {# Ajouter votre style si nécessaire #}
{% endblock %}

{% block body %}
    {# #Contenu #}

    <h1>Welcome User</h1>

{% endblock %}
