{% extends 'base.html.twig' %}

{% block title %}{{ 'user.title'|trans }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
    {# Ajouter votre style si nécessaire #}
{% endblock %}

{% block body %}
    {# #Contenu #}
    <h1>{{ 'user.list'|trans }}</h1>
{% endblock %}
