{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
{{ parent() }}
    {# Ajouter votre style si nécessaire #}
{% endblock %}

{% block body %}
    <h1>Login</h1>
    
{% endblock %}