{% extends 'base.html.twig' %}
{# user/register.html.twig #}

{% block title %}User{% endblock %}

{% block stylesheets %}
    {# Ajouter votre style si nécessaire #}
{% endblock %}

{% block body %}
    {# #Contenu #}

    <div class="container">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(form) }}
    </div>

{% endblock %}
